gunicorn
falcon
importlib_resources
PyYAML>=4.2b
pyzmq==17.1.2
pymongo
setuptools
git+https://github.com/ropod-project/osm_bridge.git
numpy
python-dateutil
pytest
profilehooks
rospkg
catkin-pkg
git+https://github.com:/argenos/rospy_message_converter.git
empy
git+https://github.com/anenriquez/mrta.git
